<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %> 
  <body>
    <header class="header-area">
        <%- include ('partials/header'); %>  
          <!-- Template Main CSS File -->
  <link href="stylesheets/folio.css" rel="stylesheet">
  <link href="stylesheets/event.css" rel="stylesheet">

      </header>
      <br>
      <br>

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection" style="margin-top: 30px;">
        <div class="container">
          <div class="row justify-content-between">
  
            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="https://cdn.britannica.com/38/200938-050-E22981D1/Freddie-Mercury-Live-Aid-Queen-Wembley-Stadium-July-13-1985.jpg" class="img-responsive" alt="artist-photo">
                </div>
              </div>
            </div>
  
            <div class="col-lg-7">
              <div class="about-descr">
  
                <p class="p-heading"><%= rows[0].artist_name %></p>
                <p class="separator"><%= rows[0].artist_description %> </p>
  
              </div>
  
            </div>
          </div>
        </div>
      </div><!-- End About Section -->

      <!-- Songs section -->
      <section id="songs">
      <% for (var i = 0; i < 8; i++) { %>
      <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

        <div class="row songs-item">
          <div class="col-md-2"><time>09:30 AM</time></div>
          <div class="col-md-10">
            <h4>Registration</h4>
            <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>
          </div>
        </div><!--END SONG SECTION-->
        <% } %> 
        </div>
      </section>
  </body>
</html>