<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to <%= title %>. You have Logged In</p>
    <p><a href="/logout"></a>Logout</p>
  </div>
</main>

<footer>
  <%- include('partials/footer'); %>
</footer>

</body>
</html>