<!DOCTYPE html>
<html lang="en">
    
<head>
  <%- include('../partials/head'); %>
  <title>Hello</title>
</head>
<body class="container">

<header>
  
</header>

<main>
    <p>Welcome to <%= title %></p>
    <p>
      To access your dashboard,
      <% if(userinfo){ %>
        <a href="/dashboard">click here</a>.
        <% } else{ %>
            <a href="/dashboard">sign in</a>.
    <% } %>
    </p>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>