<!DOCTYPE html>
 <head>
       <title>LoginForm</title>
       <meta charset="utf-8">
       <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&effect=shadow-multiple|anaglyph">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel">


</head>
 <body>
    <div class="bgimg">
	      <h1 class="font-effect-anaglyph">WELCOME</h1>
	      <h2>to your account</h2>
        <img src="image/pfp.png" id="profilepic" alt='profilepic'>
        <div class="box">
		    <form>
        <div>
			      <input type="text" name="" class="inputbox" placeholder="Username">
		    </div>
		    <br>
        <div>
            <input type="Password" name="" class="inputbox" placeholder="Password">
        </div>
        <br>
        <br>
                <div class="box2">
	          <input type="checkbox" checked="checked" class="checkbox">Keep me signed in
	          <input type="checkbox" class="checkbox">Forgot Password?
                </div>
                <br>
                <br>
        <div>
            <button type="submit" class="button"> LOGIN </button>
        </div>
        </form>
        </div>
    </div>
 </body>
</html>
